.App {
    text-align: center;
    background-color: #FAFAFA;
    height: 100rem;
  }

  .boxLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

/*   .loadingMessage {

  } */
  